@model TimpusProject.ModelView.ViewOrders
@{
    var total = Model.OrderDetails.Sum(x => x.Total).Value.ToString("#,###");
}

<h3>Order information: #@Model.Orders.OrderId</h3>
<br />
<p>Order date: @Model.Orders.OrderDate</p>
<p>Order status: @Model.Orders.TransacStatus.Status</p>
<p>Total: <strong> @total $</strong></p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>

                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Total.Value.ToString("#,###") $</td>
                    </tr>
                }
        </tbody>
    </table>
</div>
