@model TimpusProject.Models.Customer

@{
    ViewData["Title"] = Model.Username + " Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://th.bing.com/th/id/R.0a5e7a1fa5a0c49f27a55ab285e7d375?rik=zzuvfcCsf4I8vw&pid=ImgRaw&r=0" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">@Html.DisplayFor(model => model.FullName)</h5>
            <p class="text-muted mb-1">&#64; @Model.Username</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.FullName</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Email</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Phone</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.Address</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>