@model List<TimpusProject.ModelView.CartItem>
@{
    ViewData["Title"] = "Your cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h3 class="fw-bold mb-0 text-black">Shopping Cart</h3>
                                        <h6 class="mb-0 text-muted">@Model.Count() item(s)</h6>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-2">Avatar</div>
                                        <div class="col-md-3">Book Name</div>
                                        <div class="col-md-2">Quantity</div>
                                        <div class="col-md-2">Price</div>
                                        <div class="col-md-2">Total</div>
                                        <div class="col-md-1">#</div>
                                    </div>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <hr class="my-4">
                                            <div class="row mb-4 text-center d-flex justify-content-between align-items-center">
                                                <div class="col-md-2">
                                                    <img src="@item.product.Thumb"
                                                 class="img-fluid rounded-3" alt="@item.product.ProductName">
                                                </div>
                                                <div class="col-md-3">
                                                    <h6 class="text-black mb-0">@item.product.ProductName</h6>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size:0.6rem">Qty</span>
                                                        <input class="cartItem form-control form-control-sm" id="form1" min="1" name="quantity"
                                                       value="@item.amount" type="number" data-mahh="@item.product.ProductId" data-dongia="@item.product.Price" />
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <h6 class="mb-0">@item.product.Price.Value.ToString("#,###") $</h6>
                                                </div>
                                                @{
                                                    var totalPrice = item.amount * item.product.Price;
                                                }
                                                <div class="col-md-2">
                                                    <h6 class="mb-0">@totalPrice.Value.ToString("#,###") $</h6>
                                                </div>
                                                <div class="col-md-1">
                                                    <a class="removecart text-muted" data-mahh="@item.product.ProductId">
                                                        <i class="fas fa-times"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <hr class="my-4">
                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a href="/products" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h6 class="text-uppercase">Total for @Model.Count() item(s)</h6>
                                        <h6>@Model.Sum(x => x.TotalMoney).ToString("#,###") $</h6>
                                    </div>

                                    <h6 class="text-uppercase mb-3">Shipping: Standard-Delivery (FREE)</h6>
                                    <hr class="my-4">
                                    <div class="d-flex justify-content-between mb-5">
                                        <h6 class="text-uppercase">Total price</h6>
                                        <h6>@Model.Sum(x => x.TotalMoney).ToString("#,###") $</h6>
                                    </div>

                                    <a type="button" class="btn btn-dark btn-block btn-lg"
                                       data-mdb-ripple-color="dark" href="/checkout.html">Check out</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script>
        $(function() {
            function loadHeaderCart() {
                $('#numberCart').load("/AjaxContent/NumberCart");
            }
            $(".removecart").click(function() {
                var productid = $(this).attr("data-mahh");
                $.ajax({
                    url: "api/cart/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: { productID: productid },
                    success: function(result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function(rs) {
                        alert("Remove Cart Error !")
                    }
                });
            });
            $(".cartItem").change(function() {
                var productid = $(this).attr("data-mahh");
                var soluong = parseInt($(this).val());
                $.ajax({
                    url: "api/cart/update",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soluong
                    },
                    success: function(result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            window.location = 'cart.html';
                        }
                    },
                    error: function(rs) {
                        alert("Cập nhật Cart Error !")
                    }
                });
            });
            $("#add").click(function() {
                var productid = $(".cartItem").attr("data-mahh");
                var soluong = parseInt($(".cartItem").val());
                soluong += 1;
                $(".cartItem").val(soluong);
                $.ajax({
                    url: "api/cart/update",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soluong
                    },
                    success: function(result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            window.location = 'cart.html';
                        }
                    },
                    error: function(rs) {
                        alert("Cập nhật Cart Error !")
                    }
                });
            });
            $("#minus").click(function() {
                var productid = $(".cartItem").attr("data-mahh");
                var soluong = parseInt($(".cartItem").val());
                soluong -= 1;
                $(".cartItem").val(soluong);
                $.ajax({
                    url: "api/cart/update",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soluong
                    },
                    success: function(result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            window.location = 'cart.html';
                        }
                    },
                    error: function(rs) {
                        alert("Cập nhật Cart Error !")
                    }
                });
            });
        });
    </script>
}