@model TimpusProject.Models.Product

@{
    ViewData["Title"] = "Edit" + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <h2 class="header-title">Edit @Model.ProductName</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a href="javascript:void(0)" class="breadcrumb-item">Products Management</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
            <span class="breadcrumb-item active">Edit @Model.ProductName</span>
        </nav>
    </div>
</div>


<a asp-action="index"><p class="h6 font-weight-light text-primary"><i class="anticon anticon-arrow-left"></i> Back to products</p></a>

<form asp-action="Edit" id="productEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />

    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 100px; width: 100px">
                    <img src="@Model.Thumb" alt="@Model.ProductName" id="ImgPreview">
                </div>
                <!-- Product Thumbnail -->
                <div class="form-group" hidden>
                    <label asp-for="Thumb" class="control-label"></label>
                    <input asp-for="Thumb" id="b64Img" class="form-control" />
                    <span asp-validation-for="Thumb" class="text-danger"></span>
                </div>
                <!-- EOF Product Thumbnail -->
                <div class="m-l-15">
                    <h4 class="m-b-0">@Model.ProductName</h4>
                    <p class="text-muted m-b-0">Code: #@Model.ProductId</p>
                    <div class="m-t-10">
                        <label class="btn btn-tone btn-primary">
                            <input type="file" id="UploadImg" name="myImage" accept="image/png, image/gif, image/jpeg"
                                   style="display:none" />
                            Upload
                        </label>
                    </div>
                </div>
            </div>
            <div class="m-b-15">
                <button type="submit" id="SaveBTN" onclick="modifyDate()" class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <!-- ProductName -->
                    <div class="form-group">
                        <label asp-for="ProductName" class="font-weight-semibold control-label">Product Name</label>
                        <input asp-for="ProductName" type="text" placeholder="Product Name" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <!-- EOF ProductName -->
                    <!-- Price -->
                    <div class="form-group">
                        <label class="font-weight-semibold control-label" asp-for="Price">Price</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input asp-for="Price" class="form-control" aria-label="Amount (to the nearest dollar)">
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <!-- EOF Price -->
                    <!-- ISBN -->
                    <div class="form-group">
                        <label asp-for="Isbn" class="font-weight-semibold control-label">ISBN</label>
                        <input asp-for="Isbn" type="text" placeholder="Product Name" class="form-control" />
                        <span asp-validation-for="Isbn" class="text-danger"></span>
                    </div>
                    <!-- EOF ISBN -->
                    <!-- Publisher -->
                    <div class="form-group">
                        <label asp-for="PublisherId" class="font-weight-semibold control-label">Publisher</label>
                        <select asp-for="PublisherId" class="publisher" asp-items="ViewBag.PublisherId"></select>
                        <span asp-validation-for="PublisherId" class="text-danger"></span>
                    </div>
                    <!-- EOF Publisher -->
                    <!-- Category -->
                    <div class="form-group">
                        <label asp-for="CatId" class="font-weight-semibold control-label">Category</label>
                        <select asp-for="CatId" class="select2" asp-items="ViewBag.CatId"></select>
                        <span asp-validation-for="CatId" class="text-danger"></span>
                    </div>
                    <!-- EOF Category -->
                    <!-- Multiple select boxes -->
                    <div class="form-group">
                        <label class="font-weight-semibold control-label">Authors</label>
                        <select class="authors" name="authors[]" multiple="multiple">
                            @if (ViewBag.Authors.Count != 0)
                            {
                                @for (int i = 0; i < ViewBag.Authors.Count; i++)
                                {
                                    <option value="@ViewBag.Authors[i].AuthorId">@ViewBag.Authors[i].AuthorName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <!-- DateCreated -->
                            <div class="form-group">
                                <label asp-for="DateCreated" class="control-label"></label>
                                <input asp-for="DateCreated" class="form-control" readonly />
                                <span asp-validation-for="DateCreated" class="text-danger"></span>
                            </div>
                            <!-- EOF DateCreated -->
                        </div>
                        <div class="col-6">
                            <!-- DateModified -->
                            <div class="form-group">
                                <label asp-for="DateModified" class="control-label"></label>
                                <input asp-for="DateModified" type="date" id="set-today" value="" class="form-control" readonly />
                                <span asp-validation-for="DateModified" class="text-danger"></span>
                            </div>
                            <!-- EOF DateModified -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <!-- Active -->
                    <div class="form-group d-flex align-items-center">
                        <input asp-for="Active" id="checkActive" hidden />
                        <label asp-for="Active">Active : </label>
                        <span asp-validation-for="Active" class="text-danger"></span>
                        <div class="switch m-l-10">
                            <input type="checkbox" id="switch-1">
                            <label for="switch-1"></label>
                        </div>
                    </div>
                    <!-- EOF Active -->
                    <!-- BestSellers -->
                    <div class="form-group d-flex align-items-center">
                        <input asp-for="HomeFlag" id="checkHomeFlag" hidden />
                        <label asp-for="HomeFlag">Home Flag : </label>
                        <span asp-validation-for="HomeFlag" class="text-danger"></span>
                        <div class="switch m-l-10">
                            <input type="checkbox" id="switch-2">
                            <label for="switch-2"></label>
                        </div>
                    </div>
                    <!-- EOF BestSellers -->
                    <!-- HomeFlag -->
                    <div class="form-group d-flex align-items-center">
                        <input asp-for="BestSellers" id="checkBestSellers" hidden />
                        <label asp-for="BestSellers">Best Sellers : </label>
                        <span asp-validation-for="BestSellers" class="text-danger"></span>
                        <div class="switch m-l-10">
                            <input type="checkbox" id="switch-3">
                            <label for="switch-3"></label>
                        </div>
                    </div>
                    <!-- EOF HomeFlag -->
                    <!-- UnitInStock -->
                    <div class="form-group">
                        <label asp-for="UnitInStock" class="control-label">Unit In Stock : </label>
                        <input asp-for="UnitInStock" class="form-control" style="max-width: 150px;" />
                        <span asp-validation-for="UnitInStock" class="text-danger"></span>
                    </div>
                    <!-- EOF UnitInStock -->
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Description" class="font-weight-semibold m-b-0 control-label">Description</label>
                        <input asp-for="Description" id="description" class="form-control" hidden />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div id="editor">
                    </div>
                    <div class="form-group">
                        <label asp-for="SmallDescription" class="font-weight-semibold m-t-20 m-b-0 control-label">Small Description</label>
                        <input asp-for="SmallDescription" id="smdescription" class="form-control" hidden />
                        <span asp-validation-for="SmallDescription" class="text-danger"></span>
                    </div>
                    <div id="smDes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        const selectedAuthorID = [];
    </script>
    @for (int i = 0; i < ViewBag.SelectedAuthor.Count; i++)
    {
        <script>
            selectedAuthorID[@i] = @ViewBag.SelectedAuthor[i].AuthorId;
        </script>
    }

    <script>
        function checkboxItems(inputId, inputSwitch) {
            if ($(inputId).val() == "True") {
                $(inputSwitch).attr("checked", true);
            } else $(inputSwitch).attr("checked", false);
        }

        function changeInputItems(inputId, inputSwitch) {
            jQuery(inputSwitch).change(function() {
                if ($(this).prop("checked") == true) {
                    $(inputId).val("true")
                } else {
                    $(this).prop("checked", false);
                    $(inputId).val("false")
                };
            });
        }

        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Enter the category description',
        });
        var quillSMDes = new Quill('#smDes', {
            theme: 'snow',
            placeholder: 'Enter the product small description',
        });
        $('.select2').select2();
        $('.publisher').select2();
        $('.authors').select2();

        console.log(selectedAuthorID.toString());
        $('.authors').val(selectedAuthorID).trigger("change");

        quill.root.innerHTML = jQuery('#description').val();
        quillSMDes.root.innerHTML = jQuery('#smdescription').val();

        $(document).ready(function() {
            checkboxItems('#checkActive', '#switch-1');
            checkboxItems('#checkHomeFlag', '#switch-2');
            checkboxItems('#checkBestSellers', '#switch-3');

            changeInputItems('#checkActive', '#switch-1')
            changeInputItems('#checkHomeFlag', '#switch-2')
            changeInputItems('#checkBestSellers', '#switch-3')

            jQuery('#editor').keyup(function() {
                var des = quill.root.innerHTML;
                console.log(des);
                jQuery('#description').val(des);
            });
            jQuery('#smDes').keyup(function() {
                var smdes = quillSMDes.root.innerHTML;
                console.log(smdes);
                jQuery('#smdescription').val(smdes);
            });
        });
    </script>
}

