@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<TimpusProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <div class="fixed-cate">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    @if (ViewBag.Categories.Count != 0)
                    {
                        @for (int i = 0; i < ViewBag.Categories.Count; i++)
                        {
                            <a class="text-decoration-none" asp-action="Index" asp-controller="Products" asp-route-CatId="@ViewBag.Categories[i].CatId">
                            <li class="pb-3 h3">
                                    @ViewBag.Categories[i].CatName
                            </li>
                            </a>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                        </li>
                        @if (ViewBag.Categories.Count != 0)
                        {
                            @for (int i = 0; i < ViewBag.Categories.Count; i++)
                            {
                                <li class="list-inline-item">
                                    <a class="h3 text-dark text-decoration-none mr-3" href="#">@ViewBag.Categories[i].CatName</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Featured</option>
                            <option>A to Z</option>
                            <option>Item</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-md-4 mb-4 justify-content-evenly">
                            <div class="container-product">
                                <div class="card-product">
                                    <div class="imgBx">
                                        <img src="@item.Thumb">
                                    </div>
                                    <div class="contentBx">
                                        <h4>@item.ProductName</h4>
                                        <div class="price">
                                            <h3>Price :</h3>
                                            <span>$ @item.Price</span>
                                        </div>
                                        <a asp-action="Detail" asp-controller="Products" asp-route-id="@item.ProductId">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div div="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <pager class="pager-container" style="" list="@Model" asp-controller="Products" asp-route-CatId="@ViewBag.CurrentCatId" asp-action="Index"></pager>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- End Content -->
